/*
 * All files except if stated otherwise in the begining of the file are under the GPLv2 license:
 * -----------------------------------------------------------------------------------
 * 
 * Copyright (c) 2010-2012 Design Art Networks Ltd.
 * 
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 * 
 * -----------------------------------------------------------------------------------
 * 
 * Following open source packages are used in this project.
 * 
 * -----------------------------------------------------------------------------------
 * 
 * ---------- Wireshark ---------- 
 * License: 		GPL
 * Project URL: 	http://www.wireshark.org/
 * -------------------------------
 */
#include "winver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,4,11
 PRODUCTVERSION 0,4,11
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS VS_FF_PRERELEASE+VS_FF_DEBUG
#else
 FILEFLAGS VS_FF_PRERELEASE
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "DesignArt Networks\0"
            VALUE "FileDescription", "danLteSdk dissector\0"
            VALUE "FileVersion", "0.0.4.11\0"
            VALUE "DAN API Version", "1.14\0"
            VALUE "Wireshark Version support", "1.7\0"
            VALUE "InternalName", "danLteSdk 0.0.4.11\0"
            VALUE "LegalCopyright", "Copyright © 1998 Gerald Combs <gerald@wireshark.org>, Gilbert Ramirez <gram@alumni.rice.edu> and others\0"
            VALUE "OriginalFilename", "danLteSdk.dll\0"
            VALUE "ProductName", "LTE DAN API Dissector\0"
            VALUE "ProductVersion", "0.4.11\0"
            VALUE "Author", "Yosi Saggi & Maayan Zadik\0"
            VALUE "Comments", "Build with MSVC2008 - LITTLE & BIG ENDIAN\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
